<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function Search() {
            var SearchAccount = document.getElementsByName('SearchAccount')[0].value;
            if (SearchAccount.length == 0 && SearchAccount.length == 0) {
                window.location.href = "/device";
                return true;
            }
            regex = /^([A-Za-z0-9])+$/;
            if (SearchAccount.length != 0 && !regex.test(SearchAccount)) {
                return false;
            }
            window.location.href = `/device/search?SearchAccount=${SearchAccount}`;
        }

        function Order(index, SearchAccount, field) {
            window.location.href = `/device/search?SearchAccount=${SearchAccount}&order=${field}&index=${index}`;
        }

        function History(Address, UserId) {
            window.location.href = `/device/deviceHistory?Address=${Address}&UserId=${UserId}`;
        }

        function Edit(Address, UserId) {
            window.location.href = `/device/deviceEdit?Address=${Address}&UserId=${UserId}`;
        }

        function Next(index, UserId, SearchAccount, field) {
            window.location.href = `/device/search?SearchAccount=${SearchAccount}&order=${field}&index=${++index}`;
        }

        function Past(index, UserId, SearchAccount, field) {
            window.location.href = `/device/search?SearchAccount=${SearchAccount}&order=${field}&index=${index - 1}`;
        }

        function Go(SearchAccount, UserId, field) {
            var index = document.getElementsByName('pageindex')[0].value - 1;
            window.location.href = `/device/search?SearchAccount=${SearchAccount}&order=${field}&index=${index}`;
        }
    </script>
</head>

<body>
    <% if (locals.Account) { %>
    <table border="0" align="right">
        <tr>
            <th>
                <h3>您好, <%= Account %></h1>
            </th>
            <th><a href="/logout">登出</a></th>
        </tr>
    </table>
    <% } %>
    <!-- <img src="/img/logo.png" class="logo-left"> -->
    <table border="0" align="center">
        <tr>
            <th><a href="/user">用戶</a></th>
            <th><a href="/device">裝置</a></th>
            <th><a href="/group">群組</a></th>
            <th><a href="/scene">場景</a></th>
            <th><a href="/schedule">排程</a></th>
        </tr>
    </table>
    <h1>裝置 - 列表</h1>
    <% if (locals.SuperUser == 1) { %>
    <input type="text" name="SearchAccount" placeholder="搜尋所有者" value="<%= SearchAccount %>" />
    <input type="button" name="search" value="搜尋" class="btn" onclick="Search();" />
    <% } %>
    <br>
    <% if(index > 0) { %>
    <input type="button" name="past" value="上一頁" class="btn"
        onclick="Past('<%= index %>','<%= SearchAccount %>','<%= order %>');" />
    <% } else { %>
    <input type="button" name="past" value="上一頁" class="btn" disabled="true" />
    <% } %>
    <%= index+1  %>/<%= totalPage  %>
    <% if(index < totalPage - 1) { %>
    <input type="button" name="next" value="下一頁" class="btn"
        onclick="Next('<%= index %>','<%= SearchAccount %>','<%= order %>');" />
    <% } else { %>
    <input type="button" name="next" value="下一頁" class="btn" disabled="true" />
    <% } %>
    <table class="table">
        <tr>
            <th>編號</th>            
            <th>所有者
                <% if(order == "b.Account asc") { %>
                <input type="button" name="order" value="▼"
                    onclick="Order('<%= index %>','<%= SearchAccount %>','b.Account desc');" />
                <% } else if (order == "b.Account desc"){ %>
                <input type="button" name="order" value="▲"
                    onclick="Order('<%= index %>','<%= SearchAccount %>','b.Account asc');" />
                <% } else { %>
                <input type="button" name="order" value="▽"
                    onclick="Order('<%= index %>','<%= SearchAccount %>','b.Account asc');" />
                <% } %>
            </th>
            <th>位址
                <% if(order == "a.Address asc") { %>
                <input type="button" name="order" value="▼"
                    onclick="Order('<%= index %>','<%= SearchAccount %>','a.Address desc');" />
                <% } else if (order == "a.Address desc"){ %>
                <input type="button" name="order" value="▲"
                    onclick="Order('<%= index %>','<%= SearchAccount %>','a.Address asc');" />
                <% } else { %>
                <input type="button" name="order" value="▽"
                    onclick="Order('<%= index %>','<%= SearchAccount %>','a.Address asc');" />
                <% } %>
            </th>
            <th>類型</th>
            <th>參數1</th>
            <th>參數2</th>
            <th>參數3</th>
        </tr>
        <% for ( var i = 0 ; i < data.length ; i++) { %>
        <tr>
            <td>
                <%= linePerPage*index+(i+1) %>
            </td>
            <td>
                <%= data[i].Account %>
            </td>
            <td>
                <%= data[i].Address %>
            </td>
            <td>
                <%= data[i].Name %>
            </td>
            <td>
                <% if (data[i].Info1 == 0) { %>
                    離線
                <% } else { %>
                    上線
                <% } %>
            </td>
            <td>
                <%= data[i].Info2 %>
            </td>
            <td>
                <%= data[i].Info3 %>
            </td>
            <td>
                <input type="button" name="history" value="紀錄" class="btn"
                    onclick="History('<%= data[i].Address %>','<%= data[i].UserId %>');" />                
                <input type="button" name="edit" value="修改" class="btn" 
                    onclick="Edit('<%= data[i].Address %>','<%= data[i].UserId %>');" />
            </td>
        </tr>
        <% } %>
    </table>
    <% if(index > 0) { %>
    <input type="button" name="past" value="上一頁" class="btn"
        onclick="Past('<%= index %>','<%= SearchAccount %>','<%= order %>');" />
    <% } else { %>
    <input type="button" name="past" value="上一頁" class="btn" disabled="true" />
    <% } %>
    <%= index+1  %>/<%= totalPage  %>
    <% if(index < totalPage - 1) { %>
    <input type="button" name="next" value="下一頁" class="btn"
        onclick="Next('<%= index %>','<%= SearchAccount %>','<%= order %>');" />
    <% } else { %>
    <input type="button" name="next" value="下一頁" class="btn" disabled="true" />
    <% } %>
    <br>
    <input type="number" name="pageindex" placeholder="輸入頁碼" value="<%= index  + 1 %>" />
    <input type="button" name="search" value="前往" class="btn"
        onclick="Go('<%= SearchAccount %>','<%= order %>');" />
</body>

</html>