<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function Next(index, Address, UserId) {
            window.location.href = `/device/deviceHistory?Address=${Address}&UserId=${UserId}&index=${++index}`;
        }

        function Past(index, Address, UserId) {
            window.location.href = `/device/deviceHistory?Address=${Address}&UserId=${UserId}&index=${index - 1}`;
        }
    </script>
</head>

<body>
    <% if (locals.Account) { %>
    <table border="0" align="right">
        <tr>
            <th>
                <h3>您好, <%= Account %></h1>
            </th>
            <th><a href="/logout">登出</a></th>
        </tr>
    </table>
    <% } %>
    <!-- <img src="/img/logo.png" class="logo-left"> -->
    <table border="0" align="center">
        <tr>
            <th><a href="/user">用戶</a></th>
            <th><a href="/device">裝置</a></th>
            <th><a href="/group">群組</a></th>
            <th><a href="/scene">場景</a></th>
            <th><a href="/schedule">排程</a></th>
        </tr>
    </table>
    <h1>裝置 - 歷史紀錄</h1>
    <% if (!data || data.length == 0) { %>
        查無紀錄
    <% } else { %>
        <h1><%= data[0].Account %> - <%= data[0].Address %></h1>
        <% if (index > 0) { %>
            <input type="button" name="past" value="上一頁" class="btn" onclick="Past('<%= index %>','<%= Address %>','<%= UserId %>');" />
        <% } else { %>
            <input type="button" name="past" value="上一頁" class="btn" disabled="true"
            onclick="Past('<%= index %>','<%= Address %>','<%= UserId %>');" />
        <% } %>
        <%= index+1  %>
        <% if (index < totalPage - 1) { %>
            <input type="button" name="next" value="下一頁" class="btn" onclick="Next('<%= index %>','<%= Address %>','<%= UserId %>');" />
        <% } else { %>
            <input type="button" name="next" value="下一頁" class="btn" disabled="true"
            onclick="Next('<%= index %>','<%= Address %>','<%= UserId %>');" />
        <% } %>
        
        <table class="table">
            <tr>
                <th>時間</th>
                <th>來源位址</th>
                <th>類型</th>
                <th>參數1</th>
                <th>參數2</th>
                <th>參數2說明</th>
                <th>參數3</th>
                <th>參數3說明</th>
            </tr>
            <% for (var i = 0 ; i < data.length ; i++){ %>
            <tr>
                <td>
                    <% var date = new Date(data[i].UpdateDate*1000); %>
                    <%= date.getFullYear() + "-" + 
                    (date.getMonth() + 1 < 10 ? '0' : '') + (date.getMonth() + 1) + "-" + 
                    (date.getDate() < 10 ? '0' : '') + date.getDate() %>
                    <%= (date.getHours() < 10 ? '0' : '') + date.getHours() + ":" + 
                    (date.getMinutes() < 10 ? '0' : '') + date.getMinutes() + ":" + 
                    (date.getSeconds() < 10 ? '0' : '') + date.getSeconds() %>
                </td>
                <td>
                    <%= data[i].SourceAddress %>
                </td>
                <td>
                    <%= data[i].Name %>
                </td>
                <td>
                    <% if (data[i].Info1 == 0) { %>
                        離線
                    <% } else { %>
                        上線
                    <% } %>
                </td>
                <td>
                    <% if (data[i].TypeId == 0x24) { %>
                        <% if (data[i].Info2 == 0) { %>
                            禁用
                        <% } else { %>
                            啟用
                        <% } %>
                    <% } else if (data[i].TypeId == 0x2C) { %>
                        <% if ((data[i].Info2 << 8) + data[i].Info3 == 0x0B00) { %>
                            禁用
                        <% } else { %>
                            啟用
                        <% } %>  
                    <% } else { %>
                        <%= data[i].Info2 %>
                    <% } %>
                </td>
                <td>
                    <%= data[i].TextInfo2 %>
                </td>
                <td>
                    <% if (data[i].TypeId == 0x24 || data[i].TypeId == 0x2C) { %>
                        <%= (data[i].Info2 << 8) + data[i].Info3 %>
                    <% } else { %>
                        <%= data[i].Info3 %>
                    <% } %>
                </td>
                <td>
                    <%= data[i].TextInfo3 %>
                </td>
            </tr>
            <% } %>
        </table>
        <% if (index > 0) { %>
            <input type="button" name="past" value="上一頁" class="btn" onclick="Past('<%= index %>','<%= Address %>','<%= UserId %>');" />
        <% } else { %>
            <input type="button" name="past" value="上一頁" class="btn" disabled="true"
            onclick="Past('<%= index %>','<%= Address %>','<%= UserId %>');" />
        <% } %>
        <%= index+1 %>
        <% if (index < totalPage - 1) { %>
            <input type="button" name="next" value="下一頁" class="btn" onclick="Next('<%= index %>','<%= Address %>','<%= UserId %>');" />
        <% } else { %>
            <input type="button" name="next" value="下一頁" class="btn" disabled="true"
            onclick="Next('<%= index %>','<%= Address %>','<%= UserId %>');" />
        <% } %>
    <% } %>
</body>

</html>