<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function Search() {
            var SearchAccount = document.getElementsByName('SearchAccount')[0].value;
            var regex = /^([a-zA-Z0-9])+$/;
            if (SearchAccount.length == 0) {
                window.location.href = "/group";
                return true;
            }
            if (!regex.test(SearchAccount)) {
                return false;
            }
            window.location.href = "/group/search?SearchAccount=" + SearchAccount;
        }
        function Edit(UserId, Address, GroupId) {
            window.location.href = `/group/groupEdit?UserId=${UserId}&Address=${Address}&GroupId=${GroupId}`;
        }

        function Delete(UserId, Address, GroupId) {
            var rs = confirm('確定要刪除?');
            if (rs) {
                window.location.href = `/group/groupEdit?UserId=${UserId}&Address=${Address}&GroupId=${GroupId}`;
            }
        }

        function Next(index, SearchAccount) {
            if (SearchAccount != "") {
                window.location.href = `/group/search?SearchAccount=${SearchAccount}&index=${++index}`;
            } else {
                window.location.href = `/group?index=${++index}`;
            }
        }

        function Past(index, SearchAccount) {
            if (SearchAccount != "") {
                window.location.href = `/group/search?SearchAccount=${SearchAccount}&index=${index - 1}`;
            } else {
                window.location.href = `/group?index=${index - 1}`;
            }
        }
    </script>
</head>

<body>
    <% if (locals.Account) { %>
    <table border="0" align="right">
        <tr>
            <th>
                <h3>您好, <%= Account %></h1>
            </th>
            <th><a href="/logout">登出</a></th>
        </tr>
    </table>
    <% } %>
    <!-- <img src="/img/logo.png" class="logo-left"> -->
    <table border="0" align="center">
        <tr>
            <th><a href="/user">用戶</a></th>
            <th><a href="/device">裝置</a></th>
            <th><a href="/group">群組</a></th>
            <th><a href="/scene">場景</a></th>
            <th><a href="/schedule">排程</a></th>
        </tr>
    </table>
    <h1>群組 - 列表</h1>
    <% if (locals.SuperUser == 1) { %>
    <div class="control">
        <input class="btn" type='submit' value='新增' onclick="javascript: location.href='/group/add'">
    </div>
    <input type="text" name="SearchAccount" placeholder="搜尋所有者" value="<%= SearchAccount %>" />
    <input type="button" name="search" value="搜尋" class="btn" onclick="Search();" />
    <% } %>
    <br>
    <% if (index > 0) { %>
    <input type="button" name="past" value="上一頁" class="btn" onclick="Past('<%= index %>','<%= SearchAccount %>');" />
    <% } else { %>
    <input type="button" name="past" value="上一頁" class="btn" disabled="true" />
    <% } %>
    <%= index+1 %>/<%= totalPage %>
    <% if (index < totalPage - 1) { %>
    <input type="button" name="next" value="下一頁" class="btn" onclick="Next('<%= index %>','<%= SearchAccount %>');" />
    <% } else { %>
    <input type="button" name="next" value="下一頁" class="btn" disabled="true" />
    <% } %>
    <table class="table">
        <tr>
            <th>編號</th>
            <th>所有者</th>
            <th>裝置位址</th>
            <th>群組編號</th>
        </tr>
        <% for (var i = 0 ; i < data.length ; i++){ %>
        <tr>
            <td>
                <%= linePerPage*index+(i+1) %>
            </td>
            <td>
                <%= data[i].Account %>
            </td>
            <td>
                <%= data[i].Address %>
            </td>
            <td>
                <%= data[i].GroupId %>
            </td>
            <td>
                <input type="button" name="edit" value="修改" class="btn" 
                    onclick="Edit('<%= data[i].UserId %>','<%= data[i].Address %>','<%= data[i].GroupId %>');" />
                <% if (locals.SuperUser == 1) { %>
                <input type="button" name="delete" value="刪除" class="btn"
                    onclick="Delete('<%= data[i].UserId %>','<%= data[i].Address %>','<%= data[i].GroupId %>');" />
                <% } %>
            </td>
        </tr>
        <% } %>
    </table>
    <% if (index > 0) { %>
    <input type="button" name="past" value="上一頁" class="btn" onclick="Past('<%= index %>','<%= SearchAccount %>');" />
    <% } else { %>
    <input type="button" name="past" value="上一頁" class="btn" disabled="true" />
    <% } %>
    <%= index+1 %>/<%= totalPage %>
    <% if (index < totalPage - 1) { %>
    <input type="button" name="next" value="下一頁" class="btn" onclick="Next('<%= index %>','<%= SearchAccount %>');" />
    <% } else { %>
    <input type="button" name="next" value="下一頁" class="btn" disabled="true" />
    <% } %>
</body>

</html>