<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function Edit(AccountNo) {
            window.location.href = "/userEdit?AccountNo=" + AccountNo;
        }

        function Delete(AccountNo) {
            var rs = confirm('Confirm to delete?');
            if (rs) {
                window.location.href = "/userDelete?AccountNo=" + AccountNo;
            }
        }

        function Search() {

            var serial = document.getElementsByName('suserid')[0].value;
            window.location.href = "/?serial=" + serial;
        }
    </script>
</head>

<body>
    <h1>Account - List</h1>
    <div class="search">
        <label>序號：</label>
        <input type="text" name="suserid" value="<%=serial  %>" placeholder="請輸入完整序號">
        <input type="button" name="sSearch" value="Search" class="btn" onclick="Search();">
    </div>
    <div class="control">
        <input class="btn" type='submit' value='Add' onclick="javascript: location.href='add'">
    </div>
    <table class="table">
        <tr>
            <th>編號</th>
            <th>機台名稱</th>
            <th>序號</th>
            <th>機型</th>
            <th>安裝日期</th>
            <th>狀態</th>
        </tr>
        <% for ( var i = 0 ; i < data.length ; i++){ %>
        <tr>
            <td>
                <%= i+1 %>
            </td>
            <td>
                <%= data[i].name  %>
            </td>
            <td>
                <%= data[i].serial  %>
            </td>
            <td>
                <%= data[i].type  %>
            </td>
            <td>
                <% var date = new Date(data[i].CreateDate*1000); %>
                <%= date.getFullYear() + "-" 
                    + (date.getMonth() + 1) + "-" 
                    + date.getDate() + " " 
                    + date.getHours() + ":" 
                    + date.getMinutes() + ":" 
                    + date.getSeconds()  %>
            </td>
            <td>
                <% if(data[i].Status > 0) { %>
                連線
                <% } else { %>
                離線
                <% } %>
            </td>
            <td>
                <input type="button" name="edit" value="Edit" class="btn" onclick="Edit('<%= data[i].id  %>');" />
                <input type="button" name="delete" value="Delete" class="btn" onclick="Delete('<%= data[i].id  %>');" />
            </td>
        </tr>
        <% } %>
    </table>
</body>

</html>