<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script>
        function Next(index, DevNo, DevName) {
            window.location.href = `/machine/machineChart?DevNo=${DevNo}&DevName=${DevName}&index=${++index}`;
        }
        function Past(index, DevNo, DevName) {
            window.location.href = `/machine/machineChart?DevNo=${DevNo}&DevName=${DevName}&index=${index-1}`;
        }
        function Go(DevNo, DevName) {
            var year = document.getElementsByName('year')[0].value;
            var month = document.getElementsByName('month')[0].value - 1;
            var date = new Date(Date.now());
            var getyear = date.getFullYear();
            var getmonth = date.getMonth();
            var index = (year - getyear) * 12 + (month - getmonth);
            window.location.href = `/machine/machineChart?DevNo=${DevNo}&DevName=${DevName}&index=${index}`;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js">
    </script>
</head>

<body>
    <table border="0" align="center">
            <tr>
                    <input class="btn" type='button' value='上一頁' onclick="javascript: window.history.back();">
                <% if (locals.SuperUser == 1) { %>
                <th><a href="/firmware">OTA</a></th>
                <th><a href="/serial">白名單</a></th>
                <th><a href="/payment">加值卡</a></th>
                <% } %>
                <th><a href="/user">用戶</a></th>
                <th><a href="/machine">機台</a></th>
                <th><a href="/monthly">報表</a></th>
            </tr>
        </table>
    <h1>機台 - 圖表</h1>
    <h2><%= chartdate.getFullYear() + "年" + (chartdate.getMonth() + 1) + "月 : " + DevName %>  &nbsp;  &nbsp; &nbsp; &nbsp; <%= "本月累積總幣量 : " + totalMoney  %>  &nbsp;  &nbsp; &nbsp; &nbsp; <%= "本月累積總出貨數 : " + totalGift %> </h2>
    <input type="number" name="year" placeholder="輸入年份" value="<%= chartdate.getFullYear() %>" />
    <input type="number" name="month" placeholder="輸入月份" value="<%= chartdate.getMonth() + 1%>"  />
    <input type="button" name="search" value="前往" class="btn"
        onclick="Go('<%= DevNo %>','<%= DevName %>');" /> 
 
    <canvas id="myChart" width="900" height="300"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: <%- JSON.stringify(labels);  %>,
            datasets: [{
                label: 'Money',
                data: <%- JSON.stringify(moneyDataSet.data);  %>,
                backgroundColor: <%- JSON.stringify(moneyDataSet.backgroundColor);  %>,
                borderColor: <%- JSON.stringify(moneyDataSet.borderColor);  %>,
                borderWidth: 1
            },
            {
                label: 'Gift',
                data: <%- JSON.stringify(giftDataSet.data);  %>,
                backgroundColor: <%- JSON.stringify(giftDataSet.backgroundColor);  %>,
                borderColor: <%- JSON.stringify(giftDataSet.borderColor);  %>,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 1000,
                        min: 0
                    }
                }]
            }
        }
    });
    </script>
    <div class="row">
        <input type="button" name="past" value="上個月" class="btn" onclick="Past('<%= index  %>','<%= DevNo %>','<%= DevName %>');" />
        <% if(index < 0) { %>
        <input type="button" name="next" value="下個月" class="btn" onclick="Next('<%= index  %>','<%= DevNo %>','<%= DevName %>');" />
        <% } else { %>
        <input type="button" name="next" value="下個月" class="btn" disabled="true" />
        <% } %>
    </div>
</body>

</html>