<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function Delete(id) {
            var rs = confirm('確定要刪除?');
            if (rs) {
                window.location.href = "/payment/paymentDelete?id=" + id;
            }
        }
    </script>
</head>

<body>
    <% if (locals.Name) { %>
    <table border="0" align="right">
        <tr>
            <th>
                <h3>您好, <%= Name %></h1>
            </th>
            <th><a href="/logout">登出</a></th>
        </tr>
    </table>
    <% } %>
    <img src="/img/logo.png" class="logo-left">
    <table border="0" align="center">
        <tr>
            <th><a href="/firmware">OTA</a></th>
            <th><a href="/serial">白名單</a></th>
            <th><a href="/payment">加值卡</a></th>
            <th><a href="/user">用戶</a></th>
            <th><a href="/machine">機台</a></th>
            <th><a href="/monthly">報表</a></th>
        </tr>
    </table>
    <h1>加值卡 - 列表</h1>
    <div class="control">
        <input class="btn" type='submit' value='新增' onclick="javascript: location.href='/payment/add'">
    </div>
    <table class="table">
        <tr>
            <th>編號</th>
            <th>序號</th>
            <th>狀態</th>
            <th>使用人</th>
            <th>機台序號</th>
            <th>使用日</th>
        </tr>
        <% for ( var i = 0 ; i < data.length ; i++){ %>
        <tr>
            <td>
                <%= i+1 %>
            </td>
            <td>
                <%= data[i].CardNo  %>
            </td>
            <td>
                <% if(data[i].Used > 0) { %>
                已使用
                <% } else { %>
                未使用
                <% } %>
            </td>
            <td>
                <% if(data[i].Account) { %>
                    <%= data[i].Account  %>
                <% } else { %>
                    -- 
                <% } %> 
            </td>
            <td>
                <% if(data[i].DevNo) { %>
                    <%= data[i].DevNo  %>
                <% } else { %>
                    -- 
                <% } %> 
            </td>
            <td>
                <% if(data[i].PayDate) { %>
                <% var date = new Date(data[i].PayDate*1000); %>
                <%= date.getFullYear() + "-" 
                    + (date.getMonth() + 1) + "-" 
                    + date.getDate() + " " 
                    + date.getHours() + ":" 
                    + date.getMinutes() + ":" 
                    + date.getSeconds()  %>
                <% } else { %>
                -- 
                <% } %>    
            </td>
            <td>                               
                <input type="button" name="delete" value="刪除" class="btn" onclick="Delete('<%= data[i].id  %>');" />                
            </td>
        </tr>
        <% } %>
    </table>
</body>

</html>