<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function Search() {
            var SearchAccount = document.getElementsByName('SearchAccount')[0].value;
            var regex = /^([a-zA-Z0-9])+$/;
            if (SearchAccount.length == 0) {
                window.location.href = "/user";
                return true;
            }
            if (!regex.test(SearchAccount)) {
                return false;
            }
            window.location.href = "/user/search?SearchAccount=" + SearchAccount;
        }
        function Edit(AccountNo) {
            window.location.href = "/user/userEdit?AccountNo=" + AccountNo;
        }

        function Delete(AccountNo) {
            var rs = confirm('確定要刪除?');
            if (rs) {
                window.location.href = "/user/userDelete?AccountNo=" + AccountNo;
            }
        }

        function Next(index, SearchAccount) {
            if (SearchAccount != "") {
                window.location.href = `/user/search?SearchAccount=${SearchAccount}&index=${++index}`;
            } else {
                window.location.href = `/user?index=${++index}`;
            }
        }

        function Past(index, SearchAccount) {
            if (SearchAccount != "") {
                window.location.href = `/user/search?SearchAccount=${SearchAccount}&index=${index - 1}`;
            } else {
                window.location.href = `/user?index=${index - 1}`;
            }
        }
    </script>
</head>

<body>
    <% if (locals.Name) { %>
    <table border="0" align="right">
        <tr>
            <th>
                <h3>您好, <%= Name %></h1>
            </th>
            <th><a href="/logout">登出</a></th>
        </tr>
    </table>
    <% } %>
    <img src="/img/logo.png" class="logo-left">
    <table border="0" align="center">
        <tr>
            <% if (locals.SuperUser == 1) { %>
            <th><a href="/firmware">OTA</a></th>
            <th><a href="/serial">白名單</a></th>
            <th><a href="/payment">加值卡</a></th>
            <% } %>
            <th><a href="/user">用戶</a></th>
            <th><a href="/machine">機台</a></th>
            <th><a href="/monthly">報表</a></th>
        </tr>
    </table>
    <h1>用戶 - 列表</h1>
    <% if (locals.SuperUser == 1 || locals.SuperUser == 2) { %>
    <div class="control">
        <input class="btn" type='submit' value='新增' onclick="javascript: location.href='/user/add'">
    </div>
    <input type="text" name="SearchAccount" placeholder="搜尋帳號" value="<%= SearchAccount %>" />
    <input type="button" name="search" value="搜尋" class="btn" onclick="Search();" />
    <% } %>
    <br>
    <% if(index > 0) { %>
    <input type="button" name="past" value="上一頁" class="btn" onclick="Past('<%= index %>','<%= SearchAccount %>');" />
    <% } else { %>
    <input type="button" name="past" value="上一頁" class="btn" disabled="true" />
    <% } %>
    <%= index+1  %>/<%= totalPage  %>
    <% if(index < totalPage - 1) { %>
    <input type="button" name="next" value="下一頁" class="btn" onclick="Next('<%= index %>','<%= SearchAccount %>');" />
    <% } else { %>
    <input type="button" name="next" value="下一頁" class="btn" disabled="true" />
    <% } %>
    <table class="table">
        <tr>
            <th>編號</th>
            <th>帳號</th>
            <th>名稱</th>
            <th>建立日期</th>
            <th>狀態</th>
            <th>後台權限</th>
        </tr>
        <% for ( var i = 0 ; i < data.length ; i++){ %>
        <tr>
            <td>
                <%= linePerPage*index+(i+1) %>
            </td>
            <td>
                <%= data[i].Account  %>
            </td>
            <td>
                <%= data[i].Name  %>
            </td>
            <td>
                <% var date = new Date(data[i].CreateDate * 1000); %>
                <%= date.getFullYear() + "-" 
                    + (date.getMonth() + 1) + "-" 
                    + date.getDate() + " " 
                    + date.getHours() + ":" 
                    + date.getMinutes() + ":" 
                    + date.getSeconds()  %>
            </td>
            <td>
                <% if(data[i].Enable > 0) { %>
                啟用
                <% } else { %>
                禁用
                <% } %>
            </td>
            <td>
                <% if(data[i].SuperUser > 0) { %>
                啟用
                <% } else { %>
                
                <% } %>
            </td>
            <td>
                <input type="button" name="edit" value="修改" class="btn" onclick="Edit('<%= data[i].AccountNo  %>');" />
                <% if (locals.SuperUser == 1) { %>
                <input type="button" name="delete" value="刪除" class="btn"
                    onclick="Delete('<%= data[i].AccountNo  %>');" />
                <% } %>
            </td>
        </tr>
        <% } %>
    </table>
    <% if(index > 0) { %>
    <input type="button" name="past" value="上一頁" class="btn" onclick="Past('<%= index %>','<%= SearchAccount %>');" />
    <% } else { %>
    <input type="button" name="past" value="上一頁" class="btn" disabled="true" />
    <% } %>
    <%= index+1  %>/<%= totalPage  %>
    <% if(index < totalPage - 1) { %>
    <input type="button" name="next" value="下一頁" class="btn" onclick="Next('<%= index %>','<%= SearchAccount %>');" />
    <% } else { %>
    <input type="button" name="next" value="下一頁" class="btn" disabled="true" />
    <% } %>
</body>

</html>